<h1>About Page</h1>

<h2>Hello</h2>
<p>My name is anderw nwakah and this is my depo site. </p>
<p>I couldn’t quite hide the Line-items page very well so I just added a 
“keep shopping” button there so it’s easier to get back to the main page when shopping initially.</p>
<p>User name and password are dave and secret, as stated in the directions</p>
<p></p>
