<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<p>It is <%= Time.now.in_time_zone("Central Time (US & Canada)") %></p>
<p>We got <%= pluralize(@total_orders, "order") %></p></div>